* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fcfcfc;
  font-family: "Open Sans";
  font-style: normal;
}

:root {
  --dark: #1f1f1f;
  --white: #fff;
  --blue: #332694;
  --yellow: #ff8a26;
  --red: #ff481f;
  --red-yellow-gradient: linear-gradient(270deg, #ff8a26 0%, #ff481f 74.08%);
  --card-bg: rgba(10, 38, 64, 0.04);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  overflow: hidden;
  width: 80%;
}
@media (min-width: 320px) {
  .container {
    width: clamp(220px, 90%, 408px);
  }
}
@media (min-width: 428px) {
  .container {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .container {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .container {
    width: clamp(320px, 80%, 912px);
  }
}
@media (min-width: 992px) {
  .container {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .container {
    width: clamp(320px, 80%, 1500px);
  }
}
@media (min-width: 1600px) {
  .container {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .container {
    width: clamp(320px, 70%, 2360px);
  }
}

.header {
  width: 100%;
}
.header .topNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  isolation: isolate;
  position: relative;
  height: 360px;
  width: 100%;
  background-image: url(../images/ContactsNavCover.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 320px) {
  .header .topNav {
    height: 80px;
  }
}
@media (min-width: 482px) {
  .header .topNav {
    height: 120px;
  }
}
@media (min-width: 576px) {
  .header .topNav {
    height: 140px;
  }
}
@media (min-width: 768px) {
  .header .topNav {
    height: 190px;
  }
}
@media (min-width: 992px) {
  .header .topNav {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .header .topNav {
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .header .topNav {
    height: 350px;
  }
}
@media (min-width: 1600px) {
  .header .topNav {
    height: 400px;
  }
}
@media (min-width: 1920px) {
  .header .topNav {
    height: 480px;
  }
}
.header .topNav > .blackCover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark);
  opacity: 0.72;
}
.header .topNav > .textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header .topNav > .textWrap .texts {
  position: absolute;
  bottom: 28px;
  background: transparent;
}
@media (min-width: 320px) {
  .header .topNav > .textWrap .texts {
    bottom: 10px;
  }
}
@media (min-width: 576px) {
  .header .topNav > .textWrap .texts {
    bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header .topNav > .textWrap .texts {
    bottom: 28px;
  }
}
.header .topNav > .textWrap .texts > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  /* identical to box height, or 72px */
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--white);
  background: transparent;
}
@media (min-width: 320px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 28px;
  }
}
@media (min-width: 482px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 32px;
  }
}
@media (min-width: 576px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 48px;
  }
}
.header .topNav > .textWrap .texts > .description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.032em;
  color: var(--white);
  background: transparent;
}
@media (min-width: 320px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 11px;
  }
}
@media (min-width: 482px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 16px;
  }
}
.header .navbarWrap {
  width: 100%;
  filter: drop-shadow(0px 2px 6px rgba(51, 38, 148, 0.02)) drop-shadow(0px 2px 24px rgba(31, 31, 31, 0.08));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .navbarWrap .navbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar {
    width: clamp(220px, 90%, 408px);
  }
}
@media (min-width: 428px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 80%, 912px);
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 80%, 1500px);
  }
}
@media (min-width: 1600px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 70%, 2360px);
  }
}
.header .navbarWrap .navbar .navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks {
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar .navLinks {
    gap: 16px;
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar .navLinks {
    gap: 36px;
  }
}
.header .navbarWrap .navbar .navLinks > img {
  object-fit: contain;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 12%;
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 16%;
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 20%;
  }
}
.header .navbarWrap .navbar .navLinks .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar .navLinks .links {
    display: none;
  }
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks .links {
    display: flex;
  }
}
.header .navbarWrap .navbar .navLinks .links div:nth-child(5) > a {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .navLinks .links .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  isolation: isolate;
  position: relative;
}
.header .navbarWrap .navbar .navLinks .links .link a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--dark);
  background: transparent;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks .links .link a {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar .navLinks .links .link a {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar .navLinks .links .link a {
    font-size: 16px;
  }
}
.header .navbarWrap .navbar .navLinks .links .link a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .navLinks .links .link .line {
  position: absolute;
  width: 16px;
  height: 2px;
  left: calc(50% - 8px - 0.5px);
  bottom: -20px;
  /* red-yellow-gradient */
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  border-radius: 2px;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks .links .link .line {
    bottom: -44%;
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar .navLinks .links .link .line {
    bottom: -36%;
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar .navLinks .links .link .line {
    bottom: -46%;
  }
}
.header .navbarWrap .navbar .language {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  /* For IE10 */
}
.header .navbarWrap .navbar .language .lanSelect {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.032em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar .language .lanSelect {
    font-size: 12px;
    padding: 2px 6px;
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar .language .lanSelect {
    padding: 3px 10px;
    font-size: 16px;
  }
}
.header .navbarWrap .navbar .language select::-ms-expand {
  display: none;
}
.header .navbarWrap .navbar .language .english {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.032em;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .burger {
    display: none;
  }
}
.header .navbarWrap .navbar .links-mobile-container.showModal {
  display: block;
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  z-index: 100;
}
.header .navbarWrap .navbar .links-mobile-container {
  width: 0%;
  height: 100vh;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  transition: all 0.5s;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .links-mobile-container .links-mobile {
    display: none;
  }
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile div:nth-child(5) > a {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  isolation: isolate;
  position: relative;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--dark);
  background: transparent;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile a {
    font-size: 12px;
  }
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .closeButton {
  padding: 3px 16px;
  border: var(--yellow) solid 1px;
}

.header2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  margin-top: 100px;
  width: 100%;
}
@media (min-width: 320px) {
  .header2Container {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .header2Container {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .header2Container {
    margin-top: 100px;
  }
}

.header2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background: transparent;
  width: 80%;
}
@media (min-width: 320px) {
  .header2 {
    width: clamp(220px, 90%, 408px);
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 428px) {
  .header2 {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .header2 {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .header2 {
    width: clamp(320px, 80%, 912px);
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .header2 {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .header2 {
    width: clamp(320px, 80%, 1500px);
    gap: 64px;
  }
}
@media (min-width: 1600px) {
  .header2 {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .header2 {
    width: clamp(320px, 70%, 2360px);
  }
}
.header2 > .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  background: transparent;
  padding-left: 100px;
}
@media (min-width: 320px) {
  .header2 > .left {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .header2 > .left {
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .header2 > .left {
    padding-left: 100px;
  }
}
.header2 > .left > .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background: transparent;
}
.header2 > .left > .texts > .sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  isolation: isolate;
  background: transparent;
  position: relative;
}
.header2 > .left > .texts > .sectionTitle > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  letter-spacing: 0.032em;
  text-transform: capitalize;
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .header2 > .left > .texts > .sectionTitle > .title {
    font-size: 14px;
  }
}
@media (min-width: 482px) {
  .header2 > .left > .texts > .sectionTitle > .title {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .header2 > .left > .texts > .sectionTitle > .title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .header2 > .left > .texts > .sectionTitle > .title {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .header2 > .left > .texts > .sectionTitle > .title {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .header2 > .left > .texts > .sectionTitle > .title {
    font-size: 24px;
  }
}
.header2 > .left > .texts > .sectionTitle > .line {
  position: absolute;
  width: 42px;
  height: 0px;
  left: -65px;
  /* dark-500 */
  border: 1px solid var(--dark);
}
@media (min-width: 320px) {
  .header2 > .left > .texts > .sectionTitle > .line {
    width: 20px;
    left: -30px;
  }
}
@media (min-width: 576px) {
  .header2 > .left > .texts > .sectionTitle > .line {
    width: 30px;
    left: -40px;
  }
}
@media (min-width: 768px) {
  .header2 > .left > .texts > .sectionTitle > .line {
    width: 36px;
    left: -50px;
  }
}
@media (min-width: 1200px) {
  .header2 > .left > .texts > .sectionTitle > .line {
    width: 42px;
    left: -65px;
  }
}
.header2 > .left > .texts > .description1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  /* or 63px */
  /* red-yellow-gradient */
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (min-width: 320px) {
  .header2 > .left > .texts > .description1 {
    font-size: 27px;
  }
}
@media (min-width: 482px) {
  .header2 > .left > .texts > .description1 {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .header2 > .left > .texts > .description1 {
    font-size: 33px;
  }
}
@media (min-width: 768px) {
  .header2 > .left > .texts > .description1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .header2 > .left > .texts > .description1 {
    font-size: 39px;
  }
}
@media (min-width: 1200px) {
  .header2 > .left > .texts > .description1 {
    font-size: 42px;
  }
}
.header2 > .left > .texts > .description2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 1.2px;
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .header2 > .left > .texts > .description2 {
    font-size: 13px;
  }
}
@media (min-width: 482px) {
  .header2 > .left > .texts > .description2 {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .header2 > .left > .texts > .description2 {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .header2 > .left > .texts > .description2 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .header2 > .left > .texts > .description2 {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .header2 > .left > .texts > .description2 {
    font-size: 18px;
  }
}
.header2 .right {
  width: 100%;
  background: transparent;
}
@media (min-width: 320px) {
  .header2 .right {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .header2 .right {
    padding-left: 0px;
  }
}
.header2 .right > .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  background: transparent;
}
@media (min-width: 320px) {
  .header2 .right > .contacts {
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .header2 .right > .contacts {
    gap: 15px;
  }
}
@media (min-width: 1200px) {
  .header2 .right > .contacts {
    gap: 24px;
  }
}
.header2 .right > .contacts > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: transparent;
}
.header2 .right > .contacts > .info > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  /* identical to box height, or 34px */
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .header2 .right > .contacts > .info > .title {
    font-size: 18px;
  }
}
@media (min-width: 482px) {
  .header2 .right > .contacts > .info > .title {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .header2 .right > .contacts > .info > .title {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .header2 .right > .contacts > .info > .title {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .header2 .right > .contacts > .info > .title {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .header2 .right > .contacts > .info > .title {
    font-size: 28px;
  }
}
.header2 .right > .contacts > .info > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  letter-spacing: 1.2px;
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .header2 .right > .contacts > .info > div {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
}
@media (min-width: 482px) {
  .header2 .right > .contacts > .info > div {
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .header2 .right > .contacts > .info > div {
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .header2 .right > .contacts > .info > div {
    flex-direction: row;
  }
}
.header2 .right > .contacts > .line {
  width: 70%;
  height: 0px;
  border: 1px solid rgba(31, 31, 31, 0.12);
}
.header2 .right > .contacts > .officeAddress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: transparent;
}
.header2 .right > .contacts > .officeAddress > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  /* identical to box height, or 34px */
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .header2 .right > .contacts > .officeAddress > .title {
    font-size: 18px;
  }
}
@media (min-width: 482px) {
  .header2 .right > .contacts > .officeAddress > .title {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .header2 .right > .contacts > .officeAddress > .title {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .header2 .right > .contacts > .officeAddress > .title {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .header2 .right > .contacts > .officeAddress > .title {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .header2 .right > .contacts > .officeAddress > .title {
    font-size: 28px;
  }
}
.header2 .right > .contacts > .officeAddress > .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: 1.2px;
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .header2 .right > .contacts > .officeAddress > .description {
    font-size: 14px;
  }
}
@media (min-width: 482px) {
  .header2 .right > .contacts > .officeAddress > .description {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .header2 .right > .contacts > .officeAddress > .description {
    font-size: 18px;
  }
}
.header2 .right > .contacts > .socialMedias {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  background: transparent;
}
.header2 .right > .contacts > .socialMedias img {
  width: 100%;
  background: transparent;
  object-fit: contain;
}

.formSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 100px;
}
@media (min-width: 320px) {
  .formSection {
    margin-top: 30px;
    gap: 15px;
    width: 80%;
  }
}
@media (min-width: 768px) {
  .formSection {
    margin-top: 50px;
    width: 70%;
  }
}
@media (min-width: 992px) {
  .formSection {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .formSection {
    margin-top: 100px;
  }
}
.formSection > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  /* identical to box height, or 63px */
  letter-spacing: 0.032em;
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .formSection > .title {
    font-size: 27px;
  }
}
@media (min-width: 482px) {
  .formSection > .title {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .formSection > .title {
    font-size: 33px;
  }
}
@media (min-width: 768px) {
  .formSection > .title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .formSection > .title {
    font-size: 39px;
  }
}
@media (min-width: 1200px) {
  .formSection > .title {
    font-size: 42px;
  }
}
.formSection > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.formSection > form > .names {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 36px;
}
@media (min-width: 320px) {
  .formSection > form > .names {
    flex-direction: column;
  }
}
@media (min-width: 482px) {
  .formSection > form > .names {
    flex-direction: row;
  }
}
.formSection > form > .names > div {
  width: 100%;
  position: relative;
}
.formSection > form > .names > div > label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  /* dark-500 */
  color: var(--dark);
  opacity: 0.32;
}
.formSection > form > .names > div > input {
  border: none;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 100%;
  /* identical to box height, or 26px */
  /* dark-500 */
  color: var(--dark);
  padding: 5px;
}
.formSection > form > .names > div > input:focus {
  outline: none;
}
.formSection > form > .names > div .line {
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.12;
  border: 1px solid var(--blue);
}
.formSection > form > .message {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: transparent;
}
.formSection > form > .message > label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: var(--dark);
  opacity: 0.32;
  background: transparent;
}
.formSection > form > .message > textarea {
  position: relative;
  z-index: 2;
  border: none;
  padding: 20px;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--dark);
}
.formSection > form > .message > textarea:focus {
  outline: none;
}
.formSection > form > .message > textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--dark);
}
.formSection > form > .message > .border {
  position: absolute;
  width: 100%;
  height: 85%;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  border: 1px solid var(--blue);
  border-radius: 4px;
}
.formSection > form > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  border-image: var(--red-yellow-gradient) 1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: right;
  /* red-yellow-gradient */
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
}
@media (min-width: 320px) {
  .formSection > form > button {
    font-size: 12px;
    padding: 10px 20px;
  }
}
@media (min-width: 576px) {
  .formSection > form > button {
    font-size: 14px;
    padding: 13px 28px;
  }
}
@media (min-width: 1200px) {
  .formSection > form > button {
    font-size: 16px;
    padding: 16px 32px;
  }
}

.map {
  width: 100%;
  margin-top: 100px;
}
@media (min-width: 320px) {
  .map {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .map {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .map {
    margin-top: 100px;
  }
}
.map > iframe {
  width: 100%;
}

.footerWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  gap: 36px;
  isolation: isolate;
  background: #0A2640;
  margin-top: 100px;
  position: relative;
}
@media (min-width: 320px) {
  .footerWrap {
    gap: 20px;
    margin-top: 30px;
    padding: 34px 0px;
  }
}
@media (min-width: 768px) {
  .footerWrap {
    gap: 30px;
    margin-top: 50px;
    padding: 54px 0px;
  }
}
@media (min-width: 1200px) {
  .footerWrap {
    gap: 36px;
    margin-top: 100px;
    padding: 64px 0px;
  }
}
.footerWrap > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  gap: 36px;
}
@media (min-width: 320px) {
  .footerWrap > div {
    width: clamp(220px, 90%, 408px);
    gap: 20px;
  }
}
@media (min-width: 428px) {
  .footerWrap > div {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .footerWrap > div {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .footerWrap > div {
    width: clamp(320px, 80%, 912px);
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .footerWrap > div {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .footerWrap > div {
    width: clamp(320px, 80%, 1500px);
    gap: 36px;
  }
}
@media (min-width: 1600px) {
  .footerWrap > div {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .footerWrap > div {
    width: clamp(320px, 70%, 2360px);
  }
}
.footerWrap .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (min-width: 992px) {
  .footerWrap .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.footerWrap .footer .section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  background: transparent;
}
@media (min-width: 992px) {
  .footerWrap .footer .section {
    width: 100%;
  }
}
.footerWrap .footer .section .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  /* white */
  color: #FFFFFF;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer .section .title {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section .title {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section .title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section .title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section .title {
    font-size: 20px;
  }
}
.footerWrap .footer .section .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  gap: 8px;
  background: transparent;
}
.footerWrap .footer .section .list .listItem {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* white */
  color: #FFFFFF;
  mix-blend-mode: normal;
  background: transparent;
  width: 100%;
}
@media (min-width: 320px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 16px;
  }
}
.footerWrap .footer .section .list .listItem > a {
  background: transparent;
  text-decoration: none;
  color: var(--white);
}
.footerWrap .footer .section .list .listItem > a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footerWrap .footer .section .list .listItem img {
  background: transparent;
  width: 8%;
}
.footerWrap .footer .section .list .listItem .listText {
  background: transparent;
}
.footerWrap .footer .section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  background: transparent;
}
@media (min-width: 992px) {
  .footerWrap .footer .section1 {
    width: 100%;
  }
}
.footerWrap .footer .section1 .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  /* white */
  color: #FFFFFF;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer .section1 .title {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section1 .title {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section1 .title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section1 .title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section1 .title {
    font-size: 20px;
  }
}
.footerWrap .footer .section1 .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: transparent;
}
.footerWrap .footer .section1 .list .listItem {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* white */
  color: #FFFFFF;
  mix-blend-mode: normal;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.footerWrap .footer .section1 .list .listItem img {
  background: transparent;
  width: 8%;
}
@media (min-width: 320px) {
  .footerWrap .footer .section1 .list .listItem img {
    width: 5%;
  }
}
@media (min-width: 992px) {
  .footerWrap .footer .section1 .list .listItem img {
    width: 8%;
  }
}
.footerWrap .footer .section1 .list .listItem .listText {
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 16px;
  }
}
.footerWrap .footer .section1 .list .listItem .listText > a {
  background: transparent;
  text-decoration: none;
  color: var(--white);
}
.footerWrap .footer .section1 .list .listItem .listText > a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footerWrap img {
  width: 20%;
  background: transparent;
  object-fit: contain;
}
@media (min-width: 320px) {
  .footerWrap img {
    width: 50%;
  }
}
@media (min-width: 482px) {
  .footerWrap img {
    width: 40%;
  }
}
@media (min-width: 576px) {
  .footerWrap img {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .footerWrap img {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .footerWrap img {
    width: 15%;
  }
}
.footerWrap .line {
  width: 100%;
  height: 2px;
  /* white */
  background: #FFFFFF;
  opacity: 0.32;
}
.footerWrap .navigate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .navigate {
    gap: 10px;
  }
}
.footerWrap .navigate .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  background: transparent;
  justify-content: center;
}
@media (min-width: 320px) {
  .footerWrap .navigate .links {
    justify-content: space-between;
    gap: unset;
  }
}
@media (min-width: 482px) {
  .footerWrap .navigate .links {
    justify-content: center;
    gap: 16px;
  }
}
@media (min-width: 576px) {
  .footerWrap .navigate .links {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .footerWrap .navigate .links {
    gap: 28px;
  }
}
@media (min-width: 992px) {
  .footerWrap .navigate .links {
    font-size: 32px;
  }
}
.footerWrap .navigate .links .link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .navigate .links .link {
    font-size: 9px;
  }
}
@media (min-width: 482px) {
  .footerWrap .navigate .links .link {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .footerWrap .navigate .links .link {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .navigate .links .link {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .footerWrap .navigate .links .link {
    font-size: 16px;
  }
}
.footerWrap .navigate .copyRight {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  /* white */
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .navigate .copyRight {
    font-size: 9px;
  }
}
@media (min-width: 482px) {
  .footerWrap .navigate .copyRight {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .footerWrap .navigate .copyRight {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .navigate .copyRight {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .footerWrap .navigate .copyRight {
    font-size: 16px;
  }
}
.footerWrap .arrowConatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 116px;
  height: 80px;
  right: 100px;
  top: -40px;
  /* white */
  background: #FFFFFF;
  border-radius: 40px;
}
@media (min-width: 320px) {
  .footerWrap .arrowConatiner {
    width: 55px;
    height: 40px;
    right: 20px;
    top: -20px;
  }
}
@media (min-width: 482px) {
  .footerWrap .arrowConatiner {
    width: 75px;
    height: 55px;
    right: 40px;
    top: -24px;
  }
}
@media (min-width: 768px) {
  .footerWrap .arrowConatiner {
    width: 90px;
    height: 70px;
    right: 60px;
    top: -34px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .arrowConatiner {
    width: 116px;
    height: 80px;
    right: 100px;
    top: -40px;
  }
}
.footerWrap .arrowConatiner .arrowWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100px;
  height: 64px;
  background: #0A2640;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.16);
  border-radius: 32px;
  cursor: pointer;
}
@media (min-width: 320px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 45px;
    height: 32px;
  }
}
@media (min-width: 482px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 60px;
    height: 45px;
  }
}
@media (min-width: 768px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 75px;
    height: 55px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 100px;
    height: 64px;
  }
}
.footerWrap .arrowConatiner .arrowWrap > img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}/*# sourceMappingURL=contacts.css.map */