* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fcfcfc;
  font-family: "Open Sans";
  font-style: normal;
}

:root {
  --dark: #1f1f1f;
  --white: #fff;
  --blue: #332694;
  --yellow: #ff8a26;
  --red: #ff481f;
  --red-yellow-gradient: linear-gradient(270deg, #ff8a26 0%, #ff481f 74.08%);
  --card-bg: rgba(10, 38, 64, 0.04);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  overflow: hidden;
  width: 80%;
}
@media (min-width: 320px) {
  .container {
    width: clamp(220px, 90%, 408px);
  }
}
@media (min-width: 428px) {
  .container {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .container {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .container {
    width: clamp(320px, 80%, 912px);
  }
}
@media (min-width: 992px) {
  .container {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .container {
    width: clamp(320px, 80%, 1500px);
  }
}
@media (min-width: 1600px) {
  .container {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .container {
    width: clamp(320px, 70%, 2360px);
  }
}

.header {
  width: 100%;
}
.header .topNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  isolation: isolate;
  position: relative;
  height: 360px;
  width: 100%;
  background-image: url(../images/services-pageNavBg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 320px) {
  .header .topNav {
    height: 80px;
  }
}
@media (min-width: 482px) {
  .header .topNav {
    height: 120px;
  }
}
@media (min-width: 576px) {
  .header .topNav {
    height: 140px;
  }
}
@media (min-width: 768px) {
  .header .topNav {
    height: 190px;
  }
}
@media (min-width: 992px) {
  .header .topNav {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .header .topNav {
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .header .topNav {
    height: 350px;
  }
}
@media (min-width: 1600px) {
  .header .topNav {
    height: 400px;
  }
}
@media (min-width: 1920px) {
  .header .topNav {
    height: 480px;
  }
}
.header .topNav > .blackCover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark);
  opacity: 0.72;
}
.header .topNav > .textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header .topNav > .textWrap .texts {
  position: absolute;
  bottom: 28px;
  background: transparent;
}
@media (min-width: 320px) {
  .header .topNav > .textWrap .texts {
    bottom: 10px;
  }
}
@media (min-width: 576px) {
  .header .topNav > .textWrap .texts {
    bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .header .topNav > .textWrap .texts {
    bottom: 28px;
  }
}
.header .topNav > .textWrap .texts > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  /* identical to box height, or 72px */
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--white);
  background: transparent;
}
@media (min-width: 320px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 28px;
  }
}
@media (min-width: 482px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 32px;
  }
}
@media (min-width: 576px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 44px;
  }
}
@media (min-width: 1200px) {
  .header .topNav > .textWrap .texts > .title {
    font-size: 48px;
  }
}
.header .topNav > .textWrap .texts > .description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.032em;
  color: var(--white);
  background: transparent;
}
@media (min-width: 320px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 11px;
  }
}
@media (min-width: 482px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .header .topNav > .textWrap .texts > .description {
    font-size: 16px;
  }
}
.header .navbarWrap {
  width: 100%;
  filter: drop-shadow(0px 2px 6px rgba(51, 38, 148, 0.02)) drop-shadow(0px 2px 24px rgba(31, 31, 31, 0.08));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .navbarWrap .navbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar {
    width: clamp(220px, 90%, 408px);
  }
}
@media (min-width: 428px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 80%, 912px);
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 80%, 1500px);
  }
}
@media (min-width: 1600px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .header .navbarWrap .navbar {
    width: clamp(320px, 70%, 2360px);
  }
}
.header .navbarWrap .navbar .navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks {
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar .navLinks {
    gap: 16px;
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar .navLinks {
    gap: 36px;
  }
}
.header .navbarWrap .navbar .navLinks > img {
  object-fit: contain;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 12%;
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 16%;
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar .navLinks > img {
    width: 20%;
  }
}
.header .navbarWrap .navbar .navLinks .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar .navLinks .links {
    display: none;
  }
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks .links {
    display: flex;
  }
}
.header .navbarWrap .navbar .navLinks .links div:nth-child(3) > a {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .navLinks .links .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  isolation: isolate;
  position: relative;
}
.header .navbarWrap .navbar .navLinks .links .link a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--dark);
  background: transparent;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks .links .link a {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .header .navbarWrap .navbar .navLinks .links .link a {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar .navLinks .links .link a {
    font-size: 16px;
  }
}
.header .navbarWrap .navbar .navLinks .links .link a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .navLinks .links .link .line {
  position: absolute;
  width: 16px;
  height: 2px;
  left: calc(50% - 8px - 0.5px);
  bottom: -20px;
  /* red-yellow-gradient */
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  border-radius: 2px;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .navLinks .links .link .line {
    bottom: -44%;
  }
}
@media (min-width: 992px) {
  .header .navbarWrap .navbar .navLinks .links .link .line {
    bottom: -36%;
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar .navLinks .links .link .line {
    bottom: -46%;
  }
}
.header .navbarWrap .navbar .language {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  /* For IE10 */
}
.header .navbarWrap .navbar .language .lanSelect {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.032em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}
@media (min-width: 320px) {
  .header .navbarWrap .navbar .language .lanSelect {
    font-size: 12px;
    padding: 2px 6px;
  }
}
@media (min-width: 1200px) {
  .header .navbarWrap .navbar .language .lanSelect {
    padding: 3px 10px;
    font-size: 16px;
  }
}
.header .navbarWrap .navbar .language select::-ms-expand {
  display: none;
}
.header .navbarWrap .navbar .language .english {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  letter-spacing: 0.032em;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .burger {
    display: none;
  }
}
.header .navbarWrap .navbar .links-mobile-container.showModal {
  display: block;
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  z-index: 100;
}
.header .navbarWrap .navbar .links-mobile-container {
  width: 0%;
  height: 100vh;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  transition: all 0.5s;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .links-mobile-container .links-mobile {
    display: none;
  }
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile div:nth-child(3) > a {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  isolation: isolate;
  position: relative;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--dark);
  background: transparent;
}
@media (min-width: 576px) {
  .header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile a {
    font-size: 12px;
  }
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .link-mobile a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header .navbarWrap .navbar .links-mobile-container .links-mobile .closeButton {
  padding: 3px 16px;
  border: var(--yellow) solid 1px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 100px;
}
@media (min-width: 320px) {
  .portfolio {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .portfolio {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    margin-top: 100px;
  }
}
.portfolio > .descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
}
@media (min-width: 320px) {
  .portfolio > .descriptions {
    padding: 0px 15px;
  }
}
@media (min-width: 768px) {
  .portfolio > .descriptions {
    padding: 0px 35px;
  }
}
@media (min-width: 1200px) {
  .portfolio > .descriptions {
    padding: 0px 60px;
  }
}
.portfolio > .descriptions > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  /* or 50px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.032em;
  color: var(--dark);
}
@media (min-width: 320px) {
  .portfolio > .descriptions > .title {
    font-size: 27px;
  }
}
@media (min-width: 482px) {
  .portfolio > .descriptions > .title {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .portfolio > .descriptions > .title {
    font-size: 33px;
  }
}
@media (min-width: 768px) {
  .portfolio > .descriptions > .title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .portfolio > .descriptions > .title {
    font-size: 39px;
  }
}
@media (min-width: 1200px) {
  .portfolio > .descriptions > .title {
    font-size: 42px;
  }
}
.portfolio > .descriptions > .description {
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  text-align: center;
  letter-spacing: 0.032em;
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .portfolio > .descriptions > .description {
    font-size: 14px;
  }
}
@media (min-width: 482px) {
  .portfolio > .descriptions > .description {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .portfolio > .descriptions > .description {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .portfolio > .descriptions > .description {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .portfolio > .descriptions > .description {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .portfolio > .descriptions > .description {
    font-size: 24px;
  }
}
.portfolio > .portfolios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;
}
@media (min-width: 320px) {
  .portfolio > .portfolios {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 482px) {
  .portfolio > .portfolios {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .portfolio > .portfolios {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.portfolio > .portfolios > .project {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.portfolio > .portfolios > .project > .lineWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  isolation: isolate;
  height: 100%;
  position: relative;
}
.portfolio > .portfolios > .project > .lineWrap > .lineBlur {
  width: 2px;
  height: 123px;
  /* dark-500 */
  background: var(--dark);
  opacity: 0.28;
}
.portfolio > .portfolios > .project > .lineWrap > .line {
  background: #1F1F1F;
  border-radius: 2px;
  width: 3px;
  height: 65px;
  position: absolute;
  left: -0.5px;
  top: 8px;
}
.portfolio > .portfolios > .project > .projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.portfolio > .portfolios > .project > .projectInfo > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.portfolio > .portfolios > .project > .projectInfo > .info > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 109.52%;
  /* identical to box height, or 31px */
  text-transform: capitalize;
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .title {
    font-size: 18px;
  }
}
@media (min-width: 482px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .title {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .title {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .title {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .title {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .title {
    font-size: 28px;
  }
}
.portfolio > .portfolios > .project > .projectInfo > .info > .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  letter-spacing: 0.032em;
  /* dark-500 */
  color: var(--dark);
  opacity: 0.64;
}
@media (min-width: 320px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .description {
    font-size: 11px;
  }
}
@media (min-width: 482px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .description {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .description {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .description {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .description {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .portfolio > .portfolios > .project > .projectInfo > .info > .description {
    font-size: 16px;
  }
}

.aboutHero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 72px;
  margin-top: 100px;
}
@media (min-width: 320px) {
  .aboutHero {
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .aboutHero {
    margin-top: 50px;
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .aboutHero {
    margin-top: 100px;
    gap: 72px;
  }
}
.aboutHero > .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
}
@media (min-width: 320px) {
  .aboutHero > .left {
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .aboutHero > .left {
    gap: 28px;
  }
}
@media (min-width: 1200px) {
  .aboutHero > .left {
    gap: 36px;
  }
}
.aboutHero > .left > .descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.aboutHero > .left > .descriptions > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .aboutHero > .left > .descriptions > .title {
    font-size: 26px;
  }
}
@media (min-width: 482px) {
  .aboutHero > .left > .descriptions > .title {
    font-size: 28px;
  }
}
@media (min-width: 576px) {
  .aboutHero > .left > .descriptions > .title {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .aboutHero > .left > .descriptions > .title {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .aboutHero > .left > .descriptions > .title {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .aboutHero > .left > .descriptions > .title {
    font-size: 36px;
  }
}
.aboutHero > .left > .descriptions > .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .aboutHero > .left > .descriptions > .description {
    font-size: 11px;
  }
}
@media (min-width: 482px) {
  .aboutHero > .left > .descriptions > .description {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .aboutHero > .left > .descriptions > .description {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .aboutHero > .left > .descriptions > .description {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .aboutHero > .left > .descriptions > .description {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .aboutHero > .left > .descriptions > .description {
    font-size: 16px;
  }
}
.aboutHero > .left > .whatWeDoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.aboutHero > .left > .whatWeDoList > .whatWeDo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.032em;
  /* dark-500 */
  color: var(--dark);
}
@media (min-width: 320px) {
  .aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
    font-size: 11px;
  }
}
@media (min-width: 482px) {
  .aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .aboutHero > .left > .whatWeDoList > .whatWeDo > .desription {
    font-size: 16px;
  }
}
.aboutHero .right {
  width: 100%;
  height: 100%;
}
.aboutHero .right > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ourTeamWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0px;
  margin-top: 100px;
  /* card-bg */
  background: rgba(10, 38, 64, 0.04);
  width: 100%;
}
@media (min-width: 320px) {
  .ourTeamWrap {
    margin-top: 30px;
    padding: 20px 0px;
  }
}
@media (min-width: 768px) {
  .ourTeamWrap {
    margin-top: 50px;
    padding: 40px 0px;
  }
}
@media (min-width: 1200px) {
  .ourTeamWrap {
    margin-top: 100px;
    padding: 72px 0px;
  }
}
.ourTeamWrap > .ourTeam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 36px;
  gap: 36px;
  background: var(--white);
  width: 80%;
}
@media (min-width: 320px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(220px, 90%, 408px);
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }
}
@media (min-width: 428px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 80%, 912px);
    flex-direction: row;
    padding: 24px;
    gap: 24px;
  }
}
@media (min-width: 992px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 80%, 1500px);
    padding: 36px;
    gap: 36px;
  }
}
@media (min-width: 1600px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .ourTeamWrap > .ourTeam {
    width: clamp(320px, 70%, 2360px);
  }
}
.ourTeamWrap > .ourTeam .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  isolation: isolate;
  position: relative;
}
.ourTeamWrap > .ourTeam .left > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
}
.ourTeamWrap > .ourTeam .left > .playIconWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  position: absolute;
  left: calc(50% - 38px);
  top: calc(50% - 38px);
  background: linear-gradient(270deg, rgba(255, 138, 38, 0.28) 0%, rgba(255, 72, 31, 0.28) 74.08%);
  border-radius: 38px;
  cursor: pointer;
}
.ourTeamWrap > .ourTeam .left > .playIconWrap > .playIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  /* red-yellow-gradient */
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  border-radius: 28px;
}
.ourTeamWrap > .ourTeam .left > .playIconWrap > .playIcon > img {
  background: transparent;
}
.ourTeamWrap > .ourTeam .right {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
}
@media (min-width: 320px) {
  .ourTeamWrap > .ourTeam .right {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .ourTeamWrap > .ourTeam .right {
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .ourTeamWrap > .ourTeam .right {
    gap: 36px;
  }
}
.ourTeamWrap > .ourTeam .right > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* or 48px */
  letter-spacing: 0.032em;
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .ourTeamWrap > .ourTeam .right > .title {
    font-size: 22px;
  }
}
@media (min-width: 482px) {
  .ourTeamWrap > .ourTeam .right > .title {
    font-size: 24px;
  }
}
@media (min-width: 576px) {
  .ourTeamWrap > .ourTeam .right > .title {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .ourTeamWrap > .ourTeam .right > .title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .ourTeamWrap > .ourTeam .right > .title {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .ourTeamWrap > .ourTeam .right > .title {
    font-size: 32px;
  }
}
.ourTeamWrap > .ourTeam .right > .descriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: transparent;
}
.ourTeamWrap > .ourTeam .right > .descriptions > .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background: transparent;
}
.ourTeamWrap > .ourTeam .right > .descriptions > .description > .iconWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(270deg, rgba(255, 138, 38, 0.04) 0%, rgba(255, 72, 31, 0.04) 74.08%);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.06);
}
.ourTeamWrap > .ourTeam .right > .descriptions > .description > .iconWrap > img {
  background: transparent;
}
.ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: transparent;
}
.ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  /* dark-500 */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
    font-size: 14px;
  }
}
@media (min-width: 482px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .title {
    font-size: 22px;
  }
}
.ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: var(--dark);
  background: transparent;
}
@media (min-width: 320px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
    font-size: 11px;
  }
}
@media (min-width: 482px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .ourTeamWrap > .ourTeam .right > .descriptions > .description > .textWrap > .text {
    font-size: 16px;
  }
}

.footerWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  gap: 36px;
  isolation: isolate;
  background: #0A2640;
  margin-top: 100px;
  position: relative;
}
@media (min-width: 320px) {
  .footerWrap {
    gap: 20px;
    margin-top: 30px;
    padding: 34px 0px;
  }
}
@media (min-width: 768px) {
  .footerWrap {
    gap: 30px;
    margin-top: 50px;
    padding: 54px 0px;
  }
}
@media (min-width: 1200px) {
  .footerWrap {
    gap: 36px;
    margin-top: 100px;
    padding: 64px 0px;
  }
}
.footerWrap > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  gap: 36px;
}
@media (min-width: 320px) {
  .footerWrap > div {
    width: clamp(220px, 90%, 408px);
    gap: 20px;
  }
}
@media (min-width: 428px) {
  .footerWrap > div {
    width: clamp(320px, 90%, 556px);
  }
}
@media (min-width: 576px) {
  .footerWrap > div {
    width: clamp(320px, 90%, 728px);
  }
}
@media (min-width: 768px) {
  .footerWrap > div {
    width: clamp(320px, 80%, 912px);
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .footerWrap > div {
    width: clamp(320px, 80%, 1100px);
  }
}
@media (min-width: 1200px) {
  .footerWrap > div {
    width: clamp(320px, 80%, 1500px);
    gap: 36px;
  }
}
@media (min-width: 1600px) {
  .footerWrap > div {
    width: clamp(320px, 70%, 1810px);
  }
}
@media (min-width: 1920px) {
  .footerWrap > div {
    width: clamp(320px, 70%, 2360px);
  }
}
.footerWrap .footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media (min-width: 992px) {
  .footerWrap .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.footerWrap .footer .section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  background: transparent;
}
@media (min-width: 992px) {
  .footerWrap .footer .section {
    width: 100%;
  }
}
.footerWrap .footer .section .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  /* white */
  color: #FFFFFF;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer .section .title {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section .title {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section .title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section .title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section .title {
    font-size: 20px;
  }
}
.footerWrap .footer .section .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  gap: 8px;
  background: transparent;
}
.footerWrap .footer .section .list .listItem {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* white */
  color: #FFFFFF;
  mix-blend-mode: normal;
  background: transparent;
  width: 100%;
}
@media (min-width: 320px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section .list .listItem {
    font-size: 16px;
  }
}
.footerWrap .footer .section .list .listItem > a {
  background: transparent;
  text-decoration: none;
  color: var(--white);
}
.footerWrap .footer .section .list .listItem > a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footerWrap .footer .section .list .listItem img {
  background: transparent;
  width: 8%;
}
.footerWrap .footer .section .list .listItem .listText {
  background: transparent;
}
.footerWrap .footer .section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  background: transparent;
}
@media (min-width: 992px) {
  .footerWrap .footer .section1 {
    width: 100%;
  }
}
.footerWrap .footer .section1 .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  /* white */
  color: #FFFFFF;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer .section1 .title {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section1 .title {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section1 .title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section1 .title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section1 .title {
    font-size: 20px;
  }
}
.footerWrap .footer .section1 .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: transparent;
}
.footerWrap .footer .section1 .list .listItem {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* white */
  color: #FFFFFF;
  mix-blend-mode: normal;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.footerWrap .footer .section1 .list .listItem img {
  background: transparent;
  width: 8%;
}
@media (min-width: 320px) {
  .footerWrap .footer .section1 .list .listItem img {
    width: 5%;
  }
}
@media (min-width: 992px) {
  .footerWrap .footer .section1 .list .listItem img {
    width: 8%;
  }
}
.footerWrap .footer .section1 .list .listItem .listText {
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 12px;
  }
}
@media (min-width: 482px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .footer .section1 .list .listItem .listText {
    font-size: 16px;
  }
}
.footerWrap .footer .section1 .list .listItem .listText > a {
  background: transparent;
  text-decoration: none;
  color: var(--white);
}
.footerWrap .footer .section1 .list .listItem .listText > a:hover {
  background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footerWrap img {
  width: 20%;
  background: transparent;
  object-fit: contain;
}
@media (min-width: 320px) {
  .footerWrap img {
    width: 50%;
  }
}
@media (min-width: 482px) {
  .footerWrap img {
    width: 40%;
  }
}
@media (min-width: 576px) {
  .footerWrap img {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .footerWrap img {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .footerWrap img {
    width: 15%;
  }
}
.footerWrap .line {
  width: 100%;
  height: 2px;
  /* white */
  background: #FFFFFF;
  opacity: 0.32;
}
.footerWrap .navigate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .navigate {
    gap: 10px;
  }
}
.footerWrap .navigate .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  background: transparent;
  justify-content: center;
}
@media (min-width: 320px) {
  .footerWrap .navigate .links {
    justify-content: space-between;
    gap: unset;
  }
}
@media (min-width: 482px) {
  .footerWrap .navigate .links {
    justify-content: center;
    gap: 16px;
  }
}
@media (min-width: 576px) {
  .footerWrap .navigate .links {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .footerWrap .navigate .links {
    gap: 28px;
  }
}
@media (min-width: 992px) {
  .footerWrap .navigate .links {
    font-size: 32px;
  }
}
.footerWrap .navigate .links .link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-transform: uppercase;
  /* white */
  color: #FFFFFF;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .navigate .links .link {
    font-size: 9px;
  }
}
@media (min-width: 482px) {
  .footerWrap .navigate .links .link {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .footerWrap .navigate .links .link {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .navigate .links .link {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .footerWrap .navigate .links .link {
    font-size: 16px;
  }
}
.footerWrap .navigate .copyRight {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  /* white */
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  background: transparent;
}
@media (min-width: 320px) {
  .footerWrap .navigate .copyRight {
    font-size: 9px;
  }
}
@media (min-width: 482px) {
  .footerWrap .navigate .copyRight {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  .footerWrap .navigate .copyRight {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footerWrap .navigate .copyRight {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .footerWrap .navigate .copyRight {
    font-size: 16px;
  }
}
.footerWrap .arrowConatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 116px;
  height: 80px;
  right: 100px;
  top: -40px;
  /* white */
  background: #FFFFFF;
  border-radius: 40px;
}
@media (min-width: 320px) {
  .footerWrap .arrowConatiner {
    width: 55px;
    height: 40px;
    right: 20px;
    top: -20px;
  }
}
@media (min-width: 482px) {
  .footerWrap .arrowConatiner {
    width: 75px;
    height: 55px;
    right: 40px;
    top: -24px;
  }
}
@media (min-width: 768px) {
  .footerWrap .arrowConatiner {
    width: 90px;
    height: 70px;
    right: 60px;
    top: -34px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .arrowConatiner {
    width: 116px;
    height: 80px;
    right: 100px;
    top: -40px;
  }
}
.footerWrap .arrowConatiner .arrowWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100px;
  height: 64px;
  background: #0A2640;
  box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.16);
  border-radius: 32px;
  cursor: pointer;
}
@media (min-width: 320px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 45px;
    height: 32px;
  }
}
@media (min-width: 482px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 60px;
    height: 45px;
  }
}
@media (min-width: 768px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 75px;
    height: 55px;
  }
}
@media (min-width: 1200px) {
  .footerWrap .arrowConatiner .arrowWrap {
    width: 100px;
    height: 64px;
  }
}
.footerWrap .arrowConatiner .arrowWrap > img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}/*# sourceMappingURL=services.css.map */