*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fcfcfc;

    font-family: "Open Sans";
    font-style: normal;
}
:root {
  --dark: #1f1f1f;
  --white: #fff;
  --blue: #332694;
  --yellow: #ff8a26;
  --red: #ff481f;

  --red-yellow-gradient: linear-gradient(270deg, #ff8a26 0%, #ff481f 74.08%);
  --card-bg: rgba(10, 38, 64, 0.04);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 80%;
}
.header{
    .topNav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        isolation: isolate;
        position: relative;
        >img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        >.blackCover{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--dark);
            opacity: 0.72;
        }
        >.textWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .texts{
                position: absolute;
                // width: 238px;
                // height: 91px;
                // left: 100px;
                bottom: 28px;
                background: transparent;
                >.title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 150%;
                    /* identical to box height, or 72px */
                    text-align: center;
                    letter-spacing: 0.032em;
                    color: var(--white);
                    background: transparent;
                }
                >.description{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    /* or 19px */
                    letter-spacing: 0.032em;
                    color: var(--white);
                    background: transparent;
                }
            }
        }
    }
    .navbarWrap{
    width: 100%;
    filter: drop-shadow(0px 2px 6px rgba(51, 38, 148, 0.02)) drop-shadow(0px 2px 24px rgba(31, 31, 31, 0.08));
    display: flex;
    flex-direction: column;
    align-items: center;
    .navbar{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0px;
        .navLinks{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 36px;
            >img{
                width: 142.28px;
                height: 48px;
            }
            .links{
                display: flex;
                flex-direction: row;
                align-items: center;
                list-style: none;
                div:nth-child(2){
                    >a{
                        >p{
                            color: var(--red);
                        }
                    }
                }
                .link{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 12px;
                    gap: 12px;
                    isolation: isolate;
                    position: relative;
                    a{
                        text-decoration: none;
                        >p{
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 120%;
                            /* or 19px */
                            text-align: center;
                            letter-spacing: 0.032em;
                            color: var(--dark);
                        }
                    }
                    .line{
                        position: absolute;
                        width: 16px;
                        height: 2px;
                        left: calc(50% - 16px/2 - 0.5px);
                        bottom: -20px;

                        /* red-yellow-gradient */

                        background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
                        border-radius: 2px;
                    }
                }
            }
        }
        .language{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 12px;
            .english{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                /* or 19px */
                letter-spacing: 0.032em;
            }
        }
    }
}
}
.aboutHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 100px;
    >.aboutTexts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >.title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 120%;
            /* or 50px */
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.032em;
            color: var(--dark);
            width: 720px;
        }
        >.description{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 150%;
            /* or 36px */
            text-align: center;
            letter-spacing: 0.032em;
            color: var(--dark);
        }
    }
    // >.stats{

    // }
}

.valuesWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
    background: var(--dark);
    >img{
        background: transparent;
        width: 100%;
        height: 100%;
        object-fit: fill;
        position: absolute;
        top: 0;
        left: 0;
    }
    .values{
        width: 80%;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 72px 0px;
        gap: 24px;
        isolation: isolate;
        >.descriptionTexts{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            background: transparent;
            >.text1{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                /* identical to box height, or 22px */
                display: flex;
                align-items: center;
                color: var(--white);
                background: transparent;
            }
            >.title{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 150%;
                /* identical to box height, or 63px */
                text-align: center;
                /* white */
                color: var(--white);
                /* text-shadow */
                text-shadow: 0px 4px 12px rgba(31, 31, 31, 0.24);
                background: transparent;
                >span{
                    background: var(--red-yellow-gradient);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            >.description{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 150%;
                /* or 36px */
                text-align: center;
                letter-spacing: 0.032em;
                /* white */
                color: var(--white);
                background: transparent;
            }
        }
        >.qualities{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            background: transparent;
            >.section{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 24px;
                background: transparent;
                >.qualityWrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    gap: 24px;
                    background: transparent;
                    >img{
                        background: transparent;
                    }
                    >.texts{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px;
                        background: transparent;
                        >.quality{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            /* red-yellow-gradient */
                            background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                        }
                        >.description{
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            /* or 24px */

                            display: flex;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.012em;
                            background: transparent;
                            color: var(--white);
                        }
                    }
                }
            }
            >div:nth-child(2){
                justify-content: center;
                // padding: 0px 180px;
                padding: 0px 12%;
            }
        }
    }
}


.statisticsWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 8px 0px;
        gap: 24px;
        margin-top: 36px;
        .statWrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .orangeText{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                /* identical to box height, or 133% */
                text-align: center;
                /* red-500 */
                color: var(--red);
            }
            .blackText{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                /* identical to box height, or 133% */
                text-align: center;
                /* dark-500 */
                color: var(--dark);
        }
    }
}
.founders{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 100px;
    >.title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 150%;
        /* identical to box height, or 63px */
        text-align: center;
        letter-spacing: 0.032em;
        color: var(--dark);
    }
    >.foundersInfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 72px;
        >.left{
            width: 100%;
            >img{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        >.right{
            width: 100%;
            >.founderInfo{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                >.name{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 150%;
                    /* identical to box height, or 48px */
                    letter-spacing: 0.032em;
                    color: var(--dark);
                }
                >.description{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 150%;
                    /* or 30px */
                    letter-spacing: 0.032em;
                    color: var(--dark);
                }
            }
            
        }
    }
}
.our-team-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-bg);
    margin-top: 100px;
    .our-team{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 72px 0px;
        gap: 36px;
        isolation: isolate;
        background: transparent;
        position: relative;
        >.title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 150%;
            /* identical to box height, or 54px */
            text-align: center;
            letter-spacing: 0.032em;
            /* dark-500 */
            color: var(--dark);
            background: transparent;
        }
        >.team{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 74px 0px 0px;
            gap: 24px;
            background: transparent;
            >.person{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                isolation: isolate;
                background: var(--white);
                position: relative;
                >.personInfo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 90px 32px 28px;
                    gap: 16px;
                    >.overAllInfo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0px;
                        >.text1{
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 120%;
                            /* or 19px */
                            text-align: center;
                            color: var(--dark);
                        }
                        >.text2{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 150%;
                            /* or 36px */
                            text-align: center;
                            color: var(--dark);
                        }
                    }
                    >.moreInfo{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 150%;
                        /* or 24px */
                        text-align: center;
                        letter-spacing: 0.032em;
                    }
                    >.socialMedias{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap: 16px;
                    }
                }
                >.personPhoto{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    gap: 10px;

                    position: absolute;
                    left: calc(50% - 144px/2 - 1px);
                    top: -74px;

                    background: #F2F3F4;
                    border-radius: 74px;
                    >img{
                        background-color: transparent;
                    }
                }
            }
        }
        >.dots{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 12px;
            background: transparent;
            >img{
                background: transparent;
            }
        }
        >.rightArrow{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: absolute;
            width: 60px;
            height: 60px;
            right: -90px;
            top: calc(50% - 60px/2 + 19.5px);
            // /* red-yellow-gradient */
            background: var(--red-yellow-gradient);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
            >img{
                background: transparent;
            }
        }
        >.leftArrow{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: absolute;
            width: 60px;
            height: 60px;
            left: -90px;
            top: calc(50% - 60px/2 + 19.5px);
            // /* red-yellow-gradient */
            background: var(--red-yellow-gradient);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
            >img{
                background: transparent;
                transform: rotate(180deg);
            }
        }
    }
}



.offersWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    .topContent{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 72px;
            position: relative;
            .left{
                width: 100%;
                .bg{
                    width:424px;
                    height: 500px;
                    position: absolute;
                    top: 0px;
                }
                .chart{
                    position: absolute;
                    width: 221px;
                    height: 354px;
                    z-index: 10;
                    bottom: 30px;
                    left: 147px;
                    padding: 28px 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    box-shadow: 0px 4px 32px rgba(31, 31, 31, 0.12);
                    >img{
                        width: 100%;
                    }
                    >.title{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        // line-height: 36px;
                        /* or 151% */
                        color: var(--dark);
                    }
                    .date{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--dark);
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 36px;
                margin-top: 129px;
                margin-bottom: 129px;
                .title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 150%;
                    /* or 54px */
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.032em;
                    /* dark-500 */
                    color: #1F1F1F;
                }
                .offers{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 18px;
                    .offer{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px;
                        gap: 32px;
                    }
                    .offerText{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 120%;
                        /* or 24px */
                        display: flex;
                        align-items: center;
                        /* dark-500 */
                        color: #1F1F1F;
                    }
                }
            }
        }
        .bottomContent{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 72px;
            position: relative;
            .left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 36px;
                margin-top: 137px;
                margin-bottom: 137px;
                .title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 150%;
                    /* or 54px */
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.032em;
                    /* dark-500 */
                    color: #1F1F1F;
                }
                .offers{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;
                    .offer{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 16px 32px;
                        gap: 16px;
                        width: 495px;
                        height: 60px;
                        /* red-yellow-gradient */
                        background: linear-gradient(270deg, #FF8A26 0%, #FF481F 74.08%);
                        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
                        border-radius: 4px;
                        width: 100%;
                        img{
                            background: transparent;
                        }
                        .offerText{
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 120%;
                            background: transparent;
                            /* or 19px */
                            display: flex;
                            align-items: center;
                            /* white */
                            color: #FFFFFF;
                        }
                    }
                    div:nth-child(2){
                        background: white;
                        .offerText{
                            color: var(--dark);
                        } 
                    }
                    div:nth-child(3){
                        background: white;
                        .offerText{
                            color: var(--dark);
                        } 
                    }
                }
            }
            .right{
                width: 100%;
                .bg{
                    width: 460px;
                    height: 640px;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .chart{
                    position: absolute;
                    width: 260px;
                    height: 400px;
                    z-index: 10;
                    bottom: 30px;
                    right: 140px;
                    padding: 28px 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    box-shadow: 0px 4px 32px rgba(31, 31, 31, 0.12);
                    >img{
                        width: 100%;
                    }
                    >.title{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        margin-top: 20px;
                        // line-height: 36px;
                        /* or 151% */
                        color: var(--dark);
                    }
                    .date{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--dark);
                }
            }
        }
    }
        
}
.questionsWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        margin-top: 100px;
        .title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 42px;
            line-height: 150%;
            /* identical to box height, or 63px */
            text-align: center;
            letter-spacing: 0.032em;
            /* dark-500 */
            color: #1F1F1F;
        }
        .aloneQuestion{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            >.question{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                /* identical to box height, or 29px */
                /* dark-500 */
                color: #1F1F1F;
            }
            >.answer{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
                /* or 24px */
                /* dark-500 */
                color: #1F1F1F;
            }
        }
        .questions{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            .question1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                >div{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0px; 
                    >.question{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 150%;
                        /* identical to box height, or 36px */
                        display: flex;
                        align-items: center;
                        /* dark-500 */
                        color: #1F1F1F;
                    }
                }
                .answer{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 150%;
                    padding: 0px 16px;
                    /* or 24px */
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.032em;
                    /* dark-500 */
                    color: #1F1F1F;
                }
            }
            .onlyQuestion{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0px;
                gap: 10px;
                >h2{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 150%;
                    /* identical to box height, or 36px */
                    display: flex;
                    align-items: center;
                    /* dark-500 */
                    color: #1F1F1F;
            }
        }
    }
}
.footerWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 100px;
        gap: 36px;
        isolation: isolate;
        background: #0A2640;
        margin-top: 100px;
        position: relative;
        .footer{
            // display: grid;
            // grid-template-columns: auto auto auto auto;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 16px;
            background: transparent;
            .section{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 24px;
                background: transparent;
                .title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 120%;
                    /* identical to box height, or 24px */
                    display: flex;
                    align-items: center;
                    letter-spacing: 1.8px;
                    /* white */
                    color: #FFFFFF;
                    background: transparent;
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 30px;
                    gap: 8px;    
                    background: transparent;
                    // list-style: circle;
                    .listItem{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        /* identical to box height, or 24px */
                        /* white */
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        background: transparent;

                        // display: flex;
                        // flex-direction: row;
                        // align-items: center;
                        // gap: 16px;
                        width: 100%;
                        img{
                            background: transparent;
                            width: 8%;

                        }
                        .listText{
                            background: transparent;
                            
                        }
                    }
                }
            }
            .section1{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 24px;
                background: transparent;
                .title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 120%;
                    /* identical to box height, or 24px */
                    display: flex;
                    align-items: center;
                    letter-spacing: 1.8px;
                    /* white */
                    color: #FFFFFF;
                    background: transparent;
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    // padding-left: 30px;
                    gap: 8px;    
                    background: transparent;
                    // list-style: circle;
                    .listItem{
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        /* identical to box height, or 24px */
                        /* white */
                        color: #FFFFFF;
                        mix-blend-mode: normal;
                        background: transparent;

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        width: 100%;
                        img{
                            background: transparent;
                            width: 8%;

                        }
                        .listText{
                            background: transparent;
                            
                        }
                    }
                }
            }
        }
        img{
            width: 20%;
            background: transparent;
        }
        .line{
            width: 100%;
            height: 2px;
            /* white */
            background: #FFFFFF;
            opacity: 0.32;
        }
        .navigate{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            background: transparent;
            .links{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 32px;
                background: transparent;
                .link{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    /* or 19px */
                    text-transform: uppercase;
                    /* white */
                    color: #FFFFFF;
                    background: transparent ;
                }
            }
            .copyRight{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                /* or 19px */
                /* white */
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
                background: transparent;
            }
        }
        .arrowConatiner{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 8px;
            position: absolute;
            width: 116px;
            height: 80px;
            right: 100px;
            top: -40px;
            /* white */
            background: #FFFFFF;
            border-radius: 40px;
            .arrowWrap{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;

                width: 100px;
                height: 64px;

                background: #0A2640;
                box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.16);
                border-radius: 32px;
        }
    }
}
